@use '../helpers' as *;

.quality {
  &__body {
    margin-top: rem(40);
    margin-inline: rem(40);
    display: flex;
    justify-content: center;
    background: var(--color-milk);
    padding: rem(20);
    border-radius: rem(10);

    @include mobile {
      margin-inline: rem(20);
      padding: rem(10);
    }

    &-desc {
      font-size: rem(16);

      @include tablet {

        font-size: rem(14);
      }
    }
  }

  &__image {
    box-shadow: var(--shadow);
    max-width: 100%;
    height: auto;
  }
}