@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Regular.woff2') format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Medium.woff2') format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Bold.woff2') format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}